.Main {
    /* Frame 48095723 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;

    position: absolute;
    width: 1008px;
    height: 2006px;
    left: 216px;
    top: 158px;


}

.icon {}

#icon-1 {
    /* Vector */

    position: absolute;
    width: 43.59px;
    height: 36.65px;
    left: 1302px;
    top: 274.47px;

    background: #D27815;
    transform: rotate(-9.29deg);

}

#icon-2 {
    /* Vector */

    position: absolute;
    width: 43.59px;
    height: 36.65px;
    left: 1199px;
    top: 158.31px;

    background: #D27815;
    transform: rotate(-9.51deg);

}

#icon-3 {
    /* Vector */

    position: absolute;
    width: 37.72px;
    height: 37.93px;
    left: 1383px;
    top: 273.79px;

    background: #D27815;
    transform: rotate(-8.62deg);

}

#icon-4 {
    /* Vector */

    position: absolute;
    width: 37.72px;
    height: 37.93px;
    left: 1284px;
    top: 175.5px;

    background: #D27815;
    transform: rotate(-7.51deg);

}

.Social-Tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 1008px;
    height: 297px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;


}

#text-1 {
    /* Social Tasks */

    width: 226px;
    height: 47px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */

    /* Black */
    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#text-2 {
    /* Complete the Social Tasks to earn extra $Heart token */

    width: 560px;
    height: 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    text-align: center;

    /* Gray Light */
    color: #6B6B6B;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.Connect-Y {
    /* Frame 48095771 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 16px;

    width: 1008px;
    height: 196px;

    /* White */
    background: #FFFFFF;
    /* Secondary */
    border: 2px solid #EEC5C7;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.box {
    /* row */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 489px;
    height: 148px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.text-3 {
    /* Connect Your X account */

    width: 259px;
    height: 28px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.text-link {
    /* Frame 48095709 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 489px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.text-4 {
    /* You need connect your X account to join Social Task */

    width: 489px;
    height: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    color: #5A5A5A;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;


}

.Text-5 {
    /* Learn more */

    width: 83px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #0D88D8;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

#Button {
    /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;

    width: 235px;
    height: 40px;

    /* Primary */
    background: #CA5C3B;
    border-radius: 100px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;


}

#Button p {
    /* Small Label-Regular 12px */

    width: 171px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.row {
    /* Frame 48095725 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 16px;

    width: 1008px;
    height: 332px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.Item {
    overflow: hidden;
}

.Item {
    /* Frame 434 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 1008px;
    height: 276px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.Chevron {
    /* Frame 438 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 120px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


}

.Chevron img {
    /* Frame 420 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;

    width: 56px;
    height: 40px;

    background: #FFFFFF;
    border: 2px solid #EEC5C7;
    border-radius: 24.8478px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.Box-Icon img {
    background-size: contain;
    background-repeat: no-repeat;
}

/* Frame 423 */
.Box-Icon {
    /* Frame 423 */

    box-sizing: border-box;

    width: 320px;
    height: 276px;

    background: #FFFFFF;
    border: 2px solid #EEC5C7;
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    overflow: hidden;
    position: relative
}

#I-fish {
    /* Vector */

    position: absolute;
    left: 83.12%;
    top: 24.64%;
    bottom: 61.72%;



}

#I-ball {
    /* Vector */

    position: absolute;
    left: 61.4%;
    bottom: 71.74%;


}

#I-meo {
    /* Vector */

    position: absolute;
    left: 81%;
    top: -1%;
    bottom: 56.74%;



}

.Icons {
    /* Group 5 */

    position: absolute;
    width: 62.54px;
    height: 60px;
    left: 30px;
    top: 30px;


}

#X {
    /* Social Icons */

    position: absolute;
    width: 36px;
    height: 36px;
    left: 20%;
    top: 10%;

    z-index: 2;
}

#Back {
    /* Group */

    position: absolute;
    left: -1%;
    right: 71.08%;
    top: -6%;
    bottom: 67.39%;
    z-index: 1;

}

.Box-Text {
    /* Frame 418 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 259px;
    height: 126.86px;
    left: calc(50% - 259px/2 - 0.5px);
    top: 131px;


}

.Box-i {
    /* Frame 417 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 259px;
    height: 126.86px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.B-text {
    /* Frame 416 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;

    width: 259px;
    height: 62.86px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.textB-1 {
    /* Follow Tapos X */

    width: 253px;
    height: 29px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.textB-2 {
    /* Follow Tapos X to earn Points */

    width: 259px;
    height: 32.86px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 144%;
    /* or 20px */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.B-icon {
    /* Frame 48095706 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 259px;
    height: 40px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.I-like {
    /* Frame 415 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 4px;

    width: 100px;
    height: 40px;

    background: #F5EEEC;
    border-radius: 24.8478px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    cursor: pointer;
}


.B-icon button {
    /* Button */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;

    width: 143px;
    height: 40px;

    /* Neutral/300 */
    border: 1px solid #CDD5DF;
    border-radius: 100px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;


}

.Follow {
    /* Small Label-Regular 12px */

    width: 47px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* Neutral/300 */
    color: #CDD5DF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}